{% extends 'base.html' %} {% block header %} 
<div class="row">
	<div class="col-sm-6">
		<h1>
			{% block title %}{{ recipe.name }} {% endblock %} 
		</h1>
	</div>
</div>
{% endblock %} {% block content %} 
<div style="max-width:95%">
	<form action="{{ url_for('recipe.edit', id=recipe['id']) }}" method="post">
		<div class="form-group">
			<label for="title">Name</label> 
			<textarea class="form-control" name="name">{{ request.form.name or recipe.name }}</textarea>
		</div>
		<div class="form-group">
			<label for="ingredients">Ingredients</label> 
			<textarea class="form-control" name="ingredients" rows="{{ recipe.ingredients | length }}">{{ request.form.ingredients or recipe.ingredients | join('\n') }}</textarea>
		</div>
		<div class="form-group">
		    {% if recipe.instructions.type == 'one_step' %}
		    <label for="instructions">Instructions</label>
		    <textarea class="form-control" name="instructions">{{ request.form.instructions or recipe.instructions.step }}</textarea>
		    {% elif recipe.instructions.type == 'steps' %}
			<label for="instructions">Instructions</label>
			<textarea class="form-control" name="instructions" rows="{{ recipe.instructions.steps | length }}">{{ request.form.instructions or recipe.instructions.steps | join('\n') }}</textarea>
			{% elif recipe.instructions.type == 'sections' %}
			<label>Instructions</label><br>
			{% for section in recipe.instructions.sections %}
			<label for="instructions-{{loop.index}}" class="font-italic">{{ section.name }}</label>
			<textarea class="form-control" name="instructions-{{loop.index}}" rows="{{ section.steps | length + 1 }}">{{ request.form['instructions-%s' | format(loop.index)] or section.steps | join('\n') }}</textarea>
			{% endfor %}
			{% endif %}
		</div>
		<button type="submit" class="btn btn-primary">Save</button> 
		<a role="button" class="btn btn-danger" href="{{ url_for('recipe.view', id=recipe['id']) }}">Cancel</a> 
	</form>
</div>
{% endblock %}