{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Recipes{% endblock %}</h1>
        <form method="post" class="needs-validation">
            <div class="form-group">
                <input type="url" value="{{ request.form['url'] }}" class="form-control form-control-lg" placeholder="Enter link to recipe" name="url" required>
                <div class="invalid-feedback">Please enter a URL here</div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
{% endblock %}

{% block content %}
  {% for recipe in recipes %}
    <article class="recipe">
      <header>
        <div>
          <h3>{{ recipe['name'] }}</h3><button type="button" href="{{ url_for('recipe.edit', id=recipe['id']) }} class="btn btn-outline-primary">Edit</button>
          <span class="about font-italic">Posted on {{ recipe['created'].strftime('%Y-%m-%d') }}</span>
        </div>
    </header>
    <div>
    <p class="description"><i>{{ recipe['description'] }}</i></p>
    </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
        