{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Recipes{% endblock %}</h1>
        <form method="post" class="needs-validation">
            <div class="form-group">
                <input type="url" value="{{ request.form['url'] }}" class="form-control form-control-lg" placeholder="Enter link to recipe" name="url" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
{% endblock %}

{% block content %}
    <br>
    <div class="card-columns">
  {% for recipe in recipes %}
    <div class="card">
        <img class="card-img-top" src="{{ recipe['image_url'] }}" alt="Recipe image">
        <div class="card-body">
            <h5 class="card-title">{{ recipe['name'] }} <span class="text-secondary small">({{ recipe['domain'] }})</span></h5>
            <p class="card-text font-italic">{{ recipe['description'] }}</p>
            <a href="{{ url_for('recipe.view', id=recipe['id']) }}" class="btn btn-primary stretched-link" >View</a>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
        