{% extends 'base.html' %} {% block header %} 
<div class="row">
	<div class="col-sm-6">
		<h1>
			{% block title %}{{ recipe.name }} - Versions {% endblock %} 
		</h1>
	</div>
</div>
{% endblock %} {% block content %}
<div>
<ol>
{% for edit in modifications %}
    <li>
        <a href="{{ url_for('recipe.view_version', recipe_id=recipe['id'], version_id=edit['id']) }}">{{ edit.created.strftime('%Y-%m-%d %I:%M %p') }}</a><br>
        <span>{% for field in edit.changed_fields %}{{ field | title }} {% endfor %}</span>
    </li>
{% endfor %}
</ol>
</div>
{% endblock %}