{% extends 'base.html' %} {% block header %} 
{% if version_data %}
<h2>
Version of: {{ version_data.name }}
</h2>
<hr>
{% endif %}
<div class="row">
	<div class="{{'col-sm-7' if recipe.image_url else 'col-sm-12'}}">
		<h1 class="display-4">
			{% block title %}{{ recipe['name'] }} {% endblock %} 
		</h1>
		<div class="small text-uppercase mb-3">
			<span class="font-weight-light">Added:</span> <span>{{ recipe.created.strftime('%Y-%m-%d') }} |</span> {% if recipe.updated %} <span class="font-weight-light">Modified:</span> <span>{{ recipe.updated.strftime('%Y-%m-%d') }} |</span> {% endif %} {% if recipe.authors %} <span class="font-weight-light">By:</span> <span>{{ ', '.join(recipe.authors) }} |</span> {% endif %} <span class="font-weight-light">From: </span> <a href="{{ recipe.url }}" target="_blank">{{ recipe.domain }}</a></span> 
		</div>
		{% if recipe.description %} 
		<div id="description" class="collapse show">
            <p class="font-italic">
                "{{ recipe['description'] }}" 
            </p>
        </div>
		{% endif %} 
		<ul class="list-group list-group-horizontal small">
			{% if recipe.yield %} 
			<li class="list-group-item"><span class="font-weight-bold">Yield:</span> <span class="font-italic"> {{ recipe.yield }}</span></li>
			{% endif %} {% for timeprop, seconds in recipe.times.items() %} 
			<li class="list-group-item "><span class="font-weight-bold"> {{timeprop | capitalize }} Time:</span> <span class="font-italic"> {{ seconds // 60 }} minutes</span></li>
			{% endfor %} 
		</ul>
		<div>
		</div>
		<div class="btn-group mb-3 mt-3">
			<form action="{{ url_for('recipe.delete', recipe_id=recipe['id']) }}" method="post">
				<a class="btn btn-primary" role="button" href="{{ url_for('recipe.edit', recipe_id=recipe['id']) }}"><span class="font-weight-bold">Modify</span></a> 
				<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?')">
			</form>
		</div>
	</div>
	{% if recipe.image_url %} 
	<div class="col-sm-5">
		<img src="{{ recipe['image_url'] }}" class="img-fluid rounded mx-auto d-block" onerror='this.style.display = "none"'> 
	</div>
	{% endif %} 
</div>
<br>
{% endblock %} {% block content %} 
<div class="row">
	<div class="col-sm-4">
		<h3>
			Ingredients 
		</h3>
		<ul>
			{% for ingredient in recipe['ingredients'] %} 
			<li>{{ ingredient }}</li>
			{% endfor %} 
		</ul>
	</div>
	<div class="col-sm-8">
		<h3>
			Instructions 
		</h3>
		{% if recipe.instructions.type == 'one_step' %} 
		<p>
			{{ recipe.instructions.step }} 
		</p>
		{% elif recipe.instructions.type == 'steps' %} 
		<ol>
			{% for step in recipe.instructions.steps %} 
			<li>{{ step }}</li>
			{% endfor %} 
		</ol>
		{% elif recipe.instructions.type == 'sections' %} 
		<div>
			{% for section in recipe.instructions.sections %} 
			<h6 class="initialism">
				{{ section.name }} 
			</h6>
			<ol>
				{% for step in section.steps %} 
				<li>{{ step }}</li>
				{% endfor %} 
			</ol>
			{% endfor %} {% elif recipe.instructions.type == 'one_step' %} {{ recipe.instructions.step }} {% endif %} 
		</div>
	</div>
</div>
<div class="row m-3">
	<ul class="list-group list-group-horizontal small">
		{% if recipe.category %} 
		<li class="list-group-item "><span class="font-weight-bold">Category: </span><span class="font-italic">{{ ', '.join(recipe.category) }}</span></li>
		{% endif %} {% if recipe.keywords %} 
		<li class="list-group-item "><span class="font-weight-bold">Keywords: </span><span class="font-italic">{{ ', '.join(recipe.keywords) }}</span></li>
		{% endif %} 
	</ul>
</div>
{% endblock %}