{% extends 'base.html' %} {% block header %} 
<div class="row">
	<div class="col-sm-6">
		<h1>
			{% block title %}{{ recipe['name'] }} {% endblock %} 
		</h1>
		{% if recipe.description %} 
		<p class="font-italic">
			"{{ recipe['description'] }}" 
		</p>
		{% endif %} {% if recipe.authors %} <span class="font-italic">By: {{ ', '.join(recipe.authors) }}</span> | {% endif %} Source: <a href="{{ recipe.url }}" class="font-italic" target="_blank">{{ recipe.domain }}</a> 
	<div>
	</div>
	<div class="btn-group mt-3">
	<form action="{{ url_for('recipe.delete', id=recipe['id']) }}" method="post">
        <a class="btn btn-primary" role="button" href="{{ url_for('recipe.edit', id=recipe['id']) }}">Edit</a>
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?')">
    </form>
    </div>
	</div>
	
	<div class="col-sm-6">
		<img src="{{ recipe['image_url'] }}" class="img-fluid float-right"> 
	</div>
</div>
<br>
{% endblock %} {% block content %} 
<div class="row">
	<div class="col-sm-4">
		<h3>
			Ingredients 
		</h3>
		<ul>
			{% for ingredient in recipe['ingredients'] %} 
			<li>{{ ingredient }}</li>
			{% endfor %} 
		</ul>
	</div>
	<div class="col-sm-8">
		<h3>
			Instructions 
		</h3>
		{% if recipe.instructions.type == 'one_step' %}
		<p>{{ recipe.instructions.step }}</p>
		{% elif recipe.instructions.type == 'steps' %} 
		<ol>
			{% for step in recipe.instructions.steps %} 
			<li>{{ step }}</li>
			{% endfor %} 
		</ol>
		{% elif recipe.instructions.type == 'sections' %} 
		<div>
			{% for section in recipe.instructions.sections %} 
			<h6 class="font-italic">
				{{ section.name }}
			</h6>
			<ol>
				{% for step in section.steps %} 
				<li>{{ step }}</li>
				{% endfor %} 
			</ol>
			{% endfor %} {% elif recipe.instructions.type == 'one_step' %} {{ recipe.instructions.step }} {% endif %} 
		</div>
	</div>
</div>
{% endblock %}