<!doctype html>

<head>
	<title>
		{% block title %}{% endblock %} - RecipeMod
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top ">
		<a class="navbar-brand" href="/">
			<img src="{{ url_for('static', filename='logo.png') }}" alt="O" style="width:25px;"> RecipeMod
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			{% if g.user %}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('bookmarklet') }}">Get Bookmarklet</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.change_password') }}">Change Password</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout {{ g.user['username'] }}</a>
				</li>
			</ul>
			{% else %}
			<ul class="navbar-nav">
				<li class="nav-item mr-auto"">
					<a class=" nav-link" href="{{ url_for('auth.register') }}">
					Register
					</a>
				</li>
				<li class="nav-item mr-auto"">
					<a class=" nav-link" href="{{ url_for('auth.login') }}">
					Log In
					</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</nav>
	<div class="container-fluid" style="margin-top:80px">
		<section class="content">
			<header>
				{% block header %}{% endblock %}
			</header>
			{% for message in get_flashed_messages() %}
			<div class="alert alert-{{ message.type }} alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message.text }}
			</div>
			{% endfor %} {% block content %}{% endblock %}
		</section>
	</div>
</body>