{% extends 'base.html' %} {% block header %} 
<h1>
	{% block title %}Change Password{% endblock %}
</h1>
{% endblock %} {% block content %}
<form method="post">
	<div class="form-group">
		<label for="current-password">Current Password:</label> 
		<input name="current-password" type="password" id="current-password" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="new-password">New Password:</label> 
		<input name="new-password" type="password" id="new-password" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="confirm-new-password">Confirm New Password:</label> 
		<input name="confirm-new-password" type="password" id="confirm-new-password" class="form-control" required>
	</div>
	<button type="submit" class="btn btn-primary">Change</button> 
</form>
{% endblock %}